.Header {
  background: #800020;
  color: white;
  border-bottom: 3px solid white;
}

.Header__body {
  display: flex;
  align-items: center;
}

.Header__title {
  flex: 1;
  padding: 20px 0;
  font-family: 'Dr Sugiyama';

  a {
    font-size: 3em;
    font-weight: bold;
    position: relative;
    color: white;
    text-decoration: none;
    display: block;
    padding: 2px;
    margin-right: 1em;

    &:after, &:before {
      content: attr(data-text);
      position: absolute;
      top: 0;
      color: white;
      background: #663399;
      overflow: hidden;
      clip: rect(0,900px,0,0);
      display: block;
      padding: 2px;
    }

    &:after {
      left: 3px;
      text-shadow: -2px 0 red;
      animation: noise-anim 2s infinite linear alternate-reverse;
    }

    &:before {
      content:attr(data-text);
      left: -3px;
      text-shadow: 2px 0 blue;
      animation: noise-anim-2 3s infinite linear alternate-reverse;
    }
  }
}

.Header__summary {
  text-decoration: none;
  color: white;
  text-align: center;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.Header__summary__line {
  font-size: 0.98em;
}