.Product {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.Product__image {
  width: 100%;
  position: relative;
  margin-bottom: 25px;

  img {
    width: 100%;
    display: block;
  }
}

.Product {
  position: relative;
  display: inline-block;
  &:before, &:after {
    content: "";
    position: absolute;
    background: black;
    z-index: 2;
  }

  &:before {
    left: 50%;
    margin-left: 1px;
    top: 8px;
    bottom: 7px;
  }

  &:after {
    top: 50%;
    margin-top: 1px;
    left: 7px;
    right: 7px;
  }
}

.Product .Product__image_alt {
  display: none;
}

.Product:hover .Product__image_normal {
  display: none;
}

.Product:hover .Product__image_alt {
  display: inline;
}

.Product__details {
  display: flex;
  align-items: center;
}

.Product__details {
  display: flex;
  align-items: center;
}

.Product__name {
  font-weight: bold;
  font-size: 1.3em;
  padding-right: 30px;
}

.Product__price {
  font-size: 0.98em;
  font-weight: normal;
  color: rgb(230, 63, 221);
}

.Product__buy {
  flex: 1;
  text-align: right;
  text-transform: uppercase;
  background: #ff0080;
  padding: 10px 20px;
  color: white;
  position: relative;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

@keyframes cross-1 {
  $steps: 5;

  @for $i from 0 through $steps {
    #{percentage($i * (1 / $steps))}{
      transform: translate((random(50) - 25) + px, (random(50) - 25) + px) rotate((30 - random(60)) + deg);
      width: (1 + random(3)) + px;
    }
  }
}

@keyframes cross-2 {
  $steps: 5;

  @for $i from 0 through $steps {
    #{percentage($i * (1 / $steps))}{
      transform: translate((random(50) - 25) + px, (random(50) - 25) + px) rotate((30 - random(60)) + deg);
      height: (1 + random(2)) + px;
    }
  }
}

@keyframes blink {
  $steps: 20;

  @for $i from 0 through $steps {
    #{percentage($i * (1 / $steps) + ((15 - random(30)) / 15) * (1 / $steps))} {
      @if ($i % 3 == 0) {
        opacity: 1;
      } @else {
        opacity: 0;
      }
    }
  }
}
